<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create User</title>

    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>

  <body class="bg-gray-100 flex items-center justify-center h-screen">
    <div class="bg-white p-8 rounded-lg shadow-lg w-96">
      <a href="/read">read page</a>

      <h1 class="text-2xl font-bold text-center mb-6">Update User</h1>

      <form
        class="flex flex-col gap-4"
        action="/update/<%=user._id%>"
        method="post"
      >
        <input
          class="border p-2 rounded focus:outline-none focus:ring-2 focus:ring-blue-400"
          type="text"
          placeholder="Enter name"
          name="name"
          value="<%=user.name%>"
        />

        <input
          class="border p-2 rounded focus:outline-none focus:ring-2 focus:ring-blue-400"
          type="text"
          placeholder="Enter email"
          name="email"
          value="<%=user.email%>"
        />

        <input
          class="border p-2 rounded focus:outline-none focus:ring-2 focus:ring-blue-400"
          type="text"
          placeholder="Enter image/url"
          name="image"
          value="<%=user.image%>"
        />

        <input
          class="bg-blue-500 text-white p-2 rounded hover:bg-blue-600 cursor-pointer"
          type="submit"
          value="update user"
        />
      </form>
    </div>
  </body>
</html>
